body {
    background-color: #596e8f;
    text-align: center;
    color: white;
}



h1 {
    color: aquamarine;
}

.container {
    width: 100%;
}

.container ul {
    text-align:center;
    list-style:none;
}



