h1 {
    color: aquamarine;
}

body {
    background-color: #596e8f;
    text-align: center;
    color: white;
}


.container {
    width: 100%;
}

.container ul {
    text-align:left;
    list-style:inside;
}

.container ul{
    display: inline-block;
}